name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build for ${{ matrix.target }}
    runs-on: ${{ matrix.runner_label }}
    strategy:
      matrix:
        include:
          - target: "x86"
            runner_label: ubuntu-24.04
            mvn_profile: native
          - target: "arm-pi"
            runner_label: ubuntu-24.04-arm
            mvn_profile: native-rpi

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'graalvm'
        cache: maven

    - name: Build with Maven
      run: mvn -B package -P${{ matrix.mvn_profile }}

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: yellowpage-${{ matrix.target }}
        path: target/yellowpage
        retention-days: 2